.error_title, .back_home_btn, .error_message {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back_home_btn a {
  font-family: 'Gochi Hand' !important;

  background: transparent;
  color: #3a2e2a;

  border: 2px solid #3a2e2a;
  border-radius: 14px;

  /* softening the border */
  box-shadow:
    1px 1px 0 #3a2e2a,
    -1px -1px 0 rgba(255,255,255,0.4);

  /* transition gives instructions on how to transform on hover */  
  transition: all 0.25s ease;
}

.back_home_btn a:hover {
  background: rgba(58, 46, 42, 0.04);
  transform: translateY(-1px);
}