.place_order_text {
    font-family: 'Gochi Hand', Cursive;
}

.place_order_text img {
    opacity: 70%;
}

.light_border {
    border-radius: 8px !important;
    border: 2px solid lightgrey !important;
}

